*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kalam', cursive;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0eef1;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 2px #444;
    padding: 12px;
    background-color: #fff;
}

h1{
    cursor: pointer;
    font-size: 2rem;
}
h1:hover{
    transition: 0.2s ease-in-out;
    border-bottom: dotted 2px #444;
}
button{
    width: 50px;
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #444;
    text-align: center;
    display: inline-block;
    /* vertical-align: middle; */
    position: relative;
    z-index: 10;
    color: #333;
}

.submit{
    padding: 15px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
}
button:hover{
    cursor: pointer;
    background-color: #333;
    color: #fff;
    transition: 0.4s ease;
}

.readBtn{
    border-radius: 20px;
    padding: 15px;
    width: 200px;
    height: 50px;
}


.book-container{
    display: flex;
    height: 80vh;
    gap: 12px;
    flex-wrap: wrap;
    padding: 12px;
    margin: 0 auto;
}

.book{
    list-style:square;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
}

.card{
    height: 250px;
    width:250px;
    border: solid 2px #444; 
    border-radius: 20%;
    padding: 24px;
    overflow:auto;
}

.div2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

form{
display: none;
}

a:any-link{
    list-style: none;
    text-decoration: none;
    color: #333;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

 li{
    list-style: none;
}

footer{

margin-top: 20px;
display: flex;
justify-content: center;
align-items: center;
background-color: #f0eef1;
gap: 8px;

}

a:hover{
    text-decoration: underline;

}

.show{
    display: flex;
    flex-direction: column;
    gap: 8px;
align-items: center;
}

/* Modal stuff */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
  }
  
  .modal form {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    height: 300px;

  }
  
  .modal.hide {
    display: none;
  }

  .trash{
    width: 24px;
    height: 24px;
  }

 .trash:hover{
    background-color: red;
    border-radius: 20%;
    cursor: pointer;
    transition: 1s ease;
 }

 [index]{
    /* display:none; */
 }


 /* 360 animation github logo  */

 footer img:hover {
    width: 30px;
    height: 30px;
    -webkit-animation:spin .5s linear ;
    -moz-animation:spin .5s linear ;
    animation:spin .5s linear ;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}


.true{
    background-color: #73AD21;
}

.false{
    background-color:#8f2400;
    color: #fff;
}